* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
}
@media screen and (max-width: 700px) {
    main {   
      flex-direction: column;
    }
  }

.works {
    width: 70%;
    padding-left: 7%;
    padding-right: 3%;
}

.work {
    margin-bottom: 15px;

}

.title {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
}
.info {
    padding-left: 20px;
}
span.notify {
    text-decoration: underline;
}

.about {
    width: 30%;
    padding-right: 5%;
}

img.about {
    width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover, a:active {
    text-decoration: underline;
    color: blue;
}

a.disabled {
    color: rgb(112, 80, 80);
}